<a href="https://colab.research.google.com/github/devivinariana/Wether_LSTM/blob/main/1_Praprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Preprocessing Data**
mengganti data NaN dengan interpolasi

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# read the file data
excel_file = pd.read_excel('dataset.xlsx')
df = pd.DataFrame(excel_file)

print(df)

         Tanggal    Tn    Tx  Tavg  RH_avg      RR   ss
0     31-12-2015  26.0  31.6  28.7    80.0  8888.0  8.2
1     01-01-2016  25.4  32.0  29.3    77.0     NaN  6.5
2     02-01-2016  26.2  31.6  28.1    86.0     0.5  5.8
3     03-01-2016  27.0  32.0  28.3    86.0     NaN  2.0
4     04-01-2016  23.2  32.3  27.8    84.0    76.5  4.7
...          ...   ...   ...   ...     ...     ...  ...
2876  15-11-2023   NaN   NaN   NaN     NaN     NaN  NaN
2877  16-11-2023   NaN   NaN   NaN     NaN     NaN  NaN
2878  17-11-2023   NaN   NaN   NaN     NaN     NaN  NaN
2879  18-11-2023   NaN   NaN   NaN     NaN     NaN  NaN
2880  19-11-2023   NaN   NaN   NaN     NaN     NaN  NaN

[2881 rows x 7 columns]

In [ ]:
# prosessing data dengan interpolasi
df_interpolate = df.interpolate()
print(df_interpolate)

         Tanggal    Tn    Tx  Tavg  RH_avg       RR   ss
0     31-12-2015  26.0  31.6  28.7    80.0  8888.00  8.2
1     01-01-2016  25.4  32.0  29.3    77.0  4444.25  6.5
2     02-01-2016  26.2  31.6  28.1    86.0     0.50  5.8
3     03-01-2016  27.0  32.0  28.3    86.0    38.50  2.0
4     04-01-2016  23.2  32.3  27.8    84.0    76.50  4.7
...          ...   ...   ...   ...     ...      ...  ...
2876  15-11-2023  27.0  35.6  31.0    70.0     0.00  6.7
2877  16-11-2023  27.0  35.6  31.0    70.0     0.00  6.7
2878  17-11-2023  27.0  35.6  31.0    70.0     0.00  6.7
2879  18-11-2023  27.0  35.6  31.0    70.0     0.00  6.7
2880  19-11-2023  27.0  35.6  31.0    70.0     0.00  6.7

[2881 rows x 7 columns]

In [ ]:
# mengambil kembali data interpolasi menjadi excel lagi
df_interpolate.to_excel('dataset_clean.xlsx', index=False)