# **Preprocessing Data**
mengganti data NaN dengan interpolasi

In [1]:
import pandas as pd
import numpy as np

In [7]:
# read the file data
excel_file = pd.read_excel('dataset.xlsx')
df = pd.DataFrame(excel_file)

print(df)

         Tanggal    Tn    Tx  Tavg  RH_avg    RR   ss
0     01-01-2016  25.4  32.0  29.3    77.0   NaN  6.5
1     02-01-2016  26.2  31.6  28.1    86.0   0.5  5.8
2     03-01-2016  27.0  32.0  28.3    86.0   NaN  2.0
3     04-01-2016  23.2  32.3  27.8    84.0  76.5  4.7
4     05-01-2016  26.2  32.0  27.7    85.0   NaN  7.0
...          ...   ...   ...   ...     ...   ...  ...
2875  15-11-2023   NaN   NaN   NaN     NaN   NaN  NaN
2876  16-11-2023   NaN   NaN   NaN     NaN   NaN  NaN
2877  17-11-2023   NaN   NaN   NaN     NaN   NaN  NaN
2878  18-11-2023   NaN   NaN   NaN     NaN   NaN  NaN
2879  19-11-2023   NaN   NaN   NaN     NaN   NaN  NaN

[2880 rows x 7 columns]

In [8]:
# prosessing data dengan interpolasi
df_interpolate = df.interpolate()

In [10]:
print(df_interpolate)

         Tanggal    Tn    Tx  Tavg  RH_avg     RR   ss
0     01-01-2016  25.4  32.0  29.3    77.0    NaN  6.5
1     02-01-2016  26.2  31.6  28.1    86.0   0.50  5.8
2     03-01-2016  27.0  32.0  28.3    86.0  38.50  2.0
3     04-01-2016  23.2  32.3  27.8    84.0  76.50  4.7
4     05-01-2016  26.2  32.0  27.7    85.0  49.05  7.0
...          ...   ...   ...   ...     ...    ...  ...
2875  15-11-2023  27.0  35.6  31.0    70.0   0.00  6.7
2876  16-11-2023  27.0  35.6  31.0    70.0   0.00  6.7
2877  17-11-2023  27.0  35.6  31.0    70.0   0.00  6.7
2878  18-11-2023  27.0  35.6  31.0    70.0   0.00  6.7
2879  19-11-2023  27.0  35.6  31.0    70.0   0.00  6.7

[2880 rows x 7 columns]

In [11]:
# mengambbil kembali data interpolasi menjadi excel lagi
df_interpolate.to_excel('dataset_clean.xlsx', index=False)

# **Membuat Model LSTM**